{% extends 'index.html' %}

{% block saludoInicioDeSesion %}
	{% if request.user.is_authenticated %}   
		<a class="navbar-brand">Hola, {{request.user}}</a> 
	{% endif %}
{% endblock saludoInicioDeSesion %}


{% block log_in_log_out %}
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Editar Perfil</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="{% url 'editar_perfil'%}" enctype='multipart/form-data'>
						<table>
							{% csrf_token %}
							<div class="input-group mb-3">
							<div class="input-group-append"></div>
                                {{miFormulario.as_table}}
							</div>
						</table>
							<div class="d-flex justify-content-center mt-3 login_container">
								<input class="btn login_btn" type="submit" value="Guardar">
							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock log_in_log_out %}