{% extends 'index.html' %}


{% block posts %}
<h2>Mi Perfil</h2>
<div class="table-responsive">
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Editar Perfil</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td><a class="btn btn-secondary" href="{% url 'editar_perfil' %}" role="button">Editar</a></td>
          </tr>
      </tbody>
    </table>
</div>
{% endblock posts %}