{% extends 'index.html' %}

{% block BackgroundImage %}
{% endblock BackgroundImage %}

{% block Posts %}
  {% if posts %}
    <h2 class="d-flex justify-content-center">Posts que te gustaron</h2>
    <br><br>
    {% for p in posts %}
      <div class="container">
        <div class="row mb-2">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">{{ p.titulo }}</h3>
              <div class="mb-1 text-muted">{{p.fecha_publicacion}} | {{p.autor}}</div>
              <p class="card-text mb-auto">{{ p.subtitulo }}</p>
              <span><i class="fa-regular fa-thumbs-up"></i> {{ p.likes.count }}</span>
              <span><i class="fa-regular fa-comments"></i> {{ p.get_comentarios_count }}</span>
              <a href="{% url 'verPost' p.id %}">Ver post</a>
            </div>
            <div class="col-auto d-none d-lg-block">
            <img src="{{ p.imagen.url }}" width="250" height="250">
            </div>
          </div>
        </div>    
      </div> 
    {% endfor %} 
  {% endif %}
{% endblock Posts %}