{% extends 'index.html' %}


{% block BackgroundImage %}
{% endblock BackgroundImage %}


{% if user.is_authenticated %}
  <div class="container">
    {% block blockPosts %}
        <h2>Mis Posts:<hr></h2>
        <h4>||<a class="btn btn-primary" href="{% url 'CrearPost' %}" role="button">Pubiica algo nuevo</a>||</h4>
        <div class="table-responsive">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Título del post</th>
                <th>Autor</th>
                <th>Categoría</th>
                <th>Fecha de publicacion</th>
                <th>Comunidad</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for post in object_list  %}
                <tr>
                  <td>{{ post.titulo }}</td>
                  <td>{{ post.autor }}</td>
                  <td>{{ post.fecha_publicacion }}</td>
                  <td><span><i class="fa-regular fa-thumbs-up"></i> {{ post.likes.count }}</span> <span><i class="fa-regular fa-comments"></i>{{ post.get_comentarios_count }}</span></td>
                  <td><a class="btn btn-info" href="{% url 'verPost' post.id %}" role="button">Ver</a> <a class="btn btn-secondary" href="{% url 'EditarPost' post.id %}" role="button">Editar</a> <a class="btn btn-danger" href="{% url 'BorrarPost' post.id %}" role="button">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    {% endblock blockPosts %}
  </div>
{% else %}
<div class="alert alert-warning" role="alert">
  Inicia sesión para poder postear algo!. <a href="{% url 'Login' %}" class="alert-link">Iniciar Sesión</a>. Ahí encontraras el boton para poder registrarte tambien.
</div>
{% endif %} 
