{% extends 'index.html' %}


{% block logInLogOut %}
{% if user.is_authenticated %}
<body>
  <h2 class="d-flex justify-content-center mt-3" id="form-title">{{ tipo_template }}</h2>
  <div class="d-flex justify-content-center mt-3 form-group">
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.media}}
      {{form.as_p}}
      <div class="d-flex justify-content-center mt-3 login_container">
        <button type="submit" class="btn btn-primary">Confirmar {{ tipo_template }}</button>
      </div>
  </div>
    </form>
  <script>
    var autor = "{{ user.id }}";
    document.getElementById("autor").value = autor
  </script>
</body>
{% else %}
  <div class="alert alert-warning" role="alert">
    Inicia sesión para poder postear algo!. <a href="{% url 'Login' %}" class="alert-link">Iniciar Sesión</a>. Ahí encontraras el boton para poder registrarte tambien.
  </div>
{% endif %}
{% endblock logInLogOut %}